<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title><%= @user.name %>のURL一覧 : arabica - あなたのタイムラインの気になるURL一覧</title>
  </head>
  <body>
    <h1 id='logo'>arabica</h1>
    <% @urls.each do |url| %>
      <article>
        <header>
          <h1><%= url.title %></h1>
        </header>
        <p class='description'>
          <%= url.description %>
        </p>
        <footer>
          <p><%= url.address %></p>
          <ul>
          <% url.tweets each |tweet| %>
          <li><a href="<%= tweet.url %>"><img src="<%= tweet.user.icon %>" alt="<%= tweet.user %>" ></a></li>
          <% end %>
          </ul>
        </footer>
      </article>
    <% end %>
  </body>
  <footer id="page_fotter">
    <p>arabica is created by mokha mattari</p>
  </footer>
</html>
