<% @urls.each do |url| %>
  <article>
    <header>
    <h1><a href="<%= url.url %>"><%= url.title %></a></h1>
    </header>
    <p class='description'>
      <% url.tweets.each do |tweet| %>
        <img class="twitter-icon" src="<%= @twitter_users.find(tweet.twitter_user_id).profile_image_url %>">
      <% end %>
    </p>
    <footer>
      <ul>
      <li><%= url.url %></li>
      <li><%= url.created_at %></li>
      </ul>
    </footer>
  </article>
<% end %>
