<% @urls.each do |url| %>
  <article>
    <header>
    <h1><a href="<%= url.url %>"><%= url.title %></a></h1>
    </header>
    <p class='description'>
      <% @tweet_icons[url.url].uniq.each do |profile_image_url| %>
        <img class="twitter-icon" src="<%= profile_image_url %>">
      <% end %>
    </p>
    <footer>
      <ul>
      <li><%= url.url %></li>
      <li><%= url.created_at %></li>
      </ul>
    </footer>
  </article>
<% end %>
